
<%- include('../template/headerAdmin.ejs') %>
<main class="app-content">
  <div class="app-title">
    <div>
        <h1>
          <i class="fas fa-user-tag"></i> <%= page_title %> <small>Tienda Virtual</small>
        </h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home fa-lg"></i>
        </li>
        <li class="breadcrumb-item">
            <a href="/roles"><%= page_title %> <small>Tienda Virtual</small></a>
        </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">Roles de usuario</div>
      </div>
    </div>
  </div>
</main>
<%- include('../template/footerAdmin.ejs') %>